settings.json
ssh_settings.json
postgres_settings.json
census-data-connection.txt


src/settings.json
src/ssh_settings.json
src/postgres_settings.json

.ipynb_checkpoints/*
src/.ipynb_checkpoints/*
.DS_Store
data/gwr.shp.YANG-PC.351276.356720.sr.lock
data/blk_gr/
data/cl*

src/Untitled*
src/*demo*


*checkpoint*
src/temp/*
